*{padding: 0; margin: 0;}
html, body{height: 100%;}

.dblock{display: block;}
input[type=radio]{outline:none; appearance: none; border-radius: 50%; -moz-appearance: none; -webkit-appearance: none; background: #eee; border: 1px solid #0299E2; width: 18px; height: 18px; display: inline-block; vertical-align: middle; margin: 0 5px; }
input[type=checkbox]{outline:none; appearance: none; -moz-appearance: none; -webkit-appearance: none; background: #eee; border: 1px solid #0299E2; width: 15px; height: 15px; display: inline-block; vertical-align: middle; margin: 0 5px; }
input[type=checkbox]:checked, input[type=radio]:checked{background: #0299e2; outline:none;}

.chosen-container-single .chosen-single{ background: none; display: block; width: 100%;  height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143;
    color: #555;  background-color: #fff; background-image: none; border: 1px solid #ccc;  border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-row{margin-bottom: 15px;}
.form-row:after{content: ''; display: block; clear: both;}

.modal-header{background: #0299E2;}
.modal-title{display: inline-block;}

.log_screen{ padding-top:10%; 
background: #0299e2;
background: -moz-linear-gradient(top, #0299e2 0%, #0299e2 40%, #b3d0f1 40%, #ffffff 100%); 
background: -webkit-linear-gradient(top, #0299e2 0%,#0299e2 40%,#b3d0f1 40%,#ffffff 100%);
background: linear-gradient(to bottom, #0299e2 0%,#0299e2 40%,#b3d0f1 40%,#ffffff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0299e2', endColorstr='#ffffff',GradientType=0 ); }

.logo{text-align: center; margin: 0 0 15px 0;}
.logo img{max-width: 90%;}
.log_form{width:35%; margin: 0 auto; float: none;}
.log_form .panel-heading{padding: 15px;}
.log_form .panel-body{padding:25px;}

/*Dash*/
.container-scroller {/*overflow: hidden; */ height: 100%; }

/*top Nav*/
.navbar {position: fixed;top: 0; right: 0; left: 0; z-index:99; display: flex; flex-wrap: wrap; align-items: center; padding:0;
        background: #0299E2; border-radius: 0; margin-bottom: 0;}
.navbar-brand{width: 260px; text-align: center; color: #fff; font-weight: 800;}
.navbar-header{float: right; width: calc(100% - 260px); padding-right: 15px;}
.navbar-top-links li {display: inline-block;}
.navbar-toggle{border: 1px solid #eee;}
.navbar-toggle .icon-bar {background-color: #eee;}

/*Dash main*/
.page-body-wrapper {min-height: calc(100vh); display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; 
  padding-left: 0; padding-right: 0; padding-top: 50px;}

 /*Side Menu */
.sidebar {min-height: calc(100vh - 70px); background: #cee2f8; font-family: "ubuntu-regular", sans-serif; padding: 0;
    width: 260px; z-index: 11; transition: width 0.25s ease, background 0.25s ease; -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;  -ms-transition: width 0.25s ease, background 0.25s ease;}
.sidebar-nav .nav{margin: 15px 0;}
.sidebar-nav .nav .active{background:#0299E2; color: #fff;}

 /*Main Panel*/
.main-panel {transition: width 0.25s ease, margin 0.25s ease; width: calc(100% - 260px); min-height: calc(100vh - 70px); display: -webkit-flex;
    display: flex; -webkit-flex-direction: column; flex-direction: column; background: #eee;}

.content-wrapper{min-height: calc(100vh - 100px); padding:15px 30px; }

.page-header{margin: 30px 0 15px; color: #0299E2;}

.b-table thead{background: #0299E2; color: #fff;}
.b-table thead th{white-space: nowrap;}
.table.dataTable.no-footer, table.dataTable thead th{border-bottom: none;}
.table-danger td, .table-danger th{ background-color: #f5c6cb;}
.table-pending td, .table-pending th{ background-color: #b8daff;}
.dataTables_wrapper .dataTables_paginate .paginate_button{padding: 0.3em 0.8em;}

/*Date picker*/
.bootstrap-datetimepicker-widget table thead tr{background: #eee;}
.bootstrap-datetimepicker-widget table thead tr:first-child{color:#fff; background: #0299e2;}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{background:#0299e2; color: #fff;}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{background:#0299e2;}
/*Date picker*/

/*Dash Footer*/
.con_footer{ height: 50px; background: #ddd; border-top: 1px solid #ccc; padding: 15px;}


@media (max-width:1024px) {
  .log_form{width:45%;}
}

@media (max-width: 767px) {
  .log_form{width:inherit;}
  .navbar-brand{width: 40%;}
  .navbar-header{width: 60%; display: flex; justify-content: flex-end;}
  .navbar-toggle{margin-right: 0; margin-left: 15px;}
  .dropdown-user{right: 0; left: auto;}
  .sidebar{position: relative; width: 100%; height: 1px; min-height: 1px;}
  .sidebar .sidebar-nav{background: #b3d0f1;}
  .page-body-wrapper{display: block; }
  .main-panel{width: 100%;}
  .con_footer{text-align: center;}
}